# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# Hugging Face cache
# =========================
.cache/
**/.cache/

# =========================
# PyTorch
# =========================
*.pt
*.pth

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS (Windows)
# =========================
Thumbs.db
Desktop.ini

# =========================
# Dataset / videos (pesado)
# =========================
data/
datasets/
*.mp4
*.avi
*.mov
